<section class="picked">
  <div class="explanation">
    Pick a movie you like!
  </div>
</section>
<section class="movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <%= movie.title %> (<%= movie.year %>)
    </div>
  <% end %>
</section>
